section
	h1
		| angular-sprout
	p
		| An opinionated starting point for AngularJS applications based on&nbsp;
		a( href='https://docs.google.com/document/d/1XXMvReO8-Awi1EZXAXS4PzDzdNvV6pGcuaF4Q9821Es/mobilebasic?pli=1' ) 
			| Angular App Structure Best Practices
		| &nbsp;and inspired by&nbsp;
		a( href='' )
			| nghellostyle
		| &nbsp;and&nbsp;
		a( href='' )
			| angular-seed
		span
			| .
section
	h1
		| root.state-1
	p
		| This is the default / home state. It has it's own module and controller. See it's position in the file structure below:
	pre
		| app/
		|    states/