section
	h1
		| angular-sprout
	p
		| An opinionated starting point for AngularJS applications based on 
		a( href="https://docs.google.com/document/d/1XXMvReO8-Awi1EZXAXS4PzDzdNvV6pGcuaF4Q9821Es/mobilebasic?pli=1" )
				| Angular App Structure Best Practices
		| .
section
	h1
		| root.state-1
	p
		| This is the default / home state.