section
	h1
		| angular-sprout
	p
		| An opinionated starting point for AngularJS applications based on&nbsp;
		a( href='https://docs.google.com/document/d/1XXMvReO8-Awi1EZXAXS4PzDzdNvV6pGcuaF4Q9821Es/mobilebasic?pli=1' ) 
			| Angular App Structure Best Practices
		| &nbsp;and inspired by&nbsp;
		a( href='' )
			| nghellostyle
		| &nbsp;and&nbsp;
		a( href='' )
			| angular-seed
		span
			| .&nbsp;
		span
			| This means that each state and component has its own module and controller.
	p
		| You can use angular-sprout to quickly get your Angular develpment environment up and running.
		| Simply clone the git repository, install dependencies, and run gulp.
section
	h1
		| Stack
	ul.stack-row
		li.stack-item
			.stack-item-logo.angular-logo
			.stack-item-text
				h2
					| Angular
				.stack-item-description
					| Modular and intuitive JavaScript framework.
		li.stack-item
			.stack-item-logo.gulp-logo
			.stack-item-text
				h2
					| Gulp
				.stack-item-description
					| Like "a series of streaming pipes".
	ul.stack-row
		li.stack-item
			.stack-item-logo.jade-logo
			.stack-item-text
				h2
					| Jade
				.stack-item-description
					| Beautiful, readable markup.
		li.stack-item
			.stack-item-logo.sass-logo
			.stack-item-text
				h2
					| Sass
				.stack-item-description
					| Maintable styles.

section
	h1
		| root.state-1
	p
		| This is the default / home state. It has it's own module and controller. See it's position in the file structure below:
	pre
		| app/
		|    states/
		|        root/
		| 
		span.highted-code
			|            state-1/
			|                state-1_controller.js
			|                state-1_module.js
			|                state-1_styles.scss
			|                state-1_template.jade
			|                state-1_test-e2e.js
			|                state-1_test-unit.js
		| 
		|            parent-state-2/
		|                child-state-1/
		|                    child-state-1_controler.js
		|                    child-state-1_module.js
		|                    child-state-1_styles.scss
		|                    child-state-1_template.jade
		|                    child-state-1_test-e2e.js
		|                    child-state-1_test-unit.js
		|                child-state-2
		|                    child-state-2_controler.js
		|                    child-state-2_module.js
		|                    child-state-2_styles.scss
		|                    child-state-2_template.jade
		|                    child-state-2_test-e2e.js
		|                    child-state-2_test-unit.js
		|                parent-state-2_controler.js
		|                parent-state-2_module.js
		|                parent-state-2_styles.scss
		|                parent-state-2_template.jade
		|                parent-state-2_test-e2e.js
		|                parent-state-2_test-unit.js
		|    common-components/
		|        directives/
		|            dropdown/
		|                dropdown_controller.js
		|                dropdown_directive.js
		|                dropdown_styles.scss
		|                dropdown_template.jade
		|        filters/
		|            reverse_filter.js
		|        services/
		|    common-styles/
		|        _base.scss
		|        _breakpoints.scss
		|        _mixins.scss
		|        _reset.scss
		|        _variables.scss
		|    app_module.js
		|    app_styles.scss
		|    index.jade