// Global styles.

::selection
{
	background-color: #f9ec67;
}

::placeholder
{
	color: #aea9a9;
}

body,
html
{
	background-color: #f5f0ed;

	color: $dark;
	font-family: $muli;
}

h1
{
	margin-bottom: 15px;

	font-size: 26px;
	line-height: 32px;
}

p
{
	font-size: 16px;
	line-height: 24px;

	flex-flow: row;
}

a
{
	color: #5567d7;

	&:hover
	{
		color: #8b55d7;
	}

	&:active
	{
		color: #0e62c2;
	}

	&:visited
	{
		color: #e79952;
	}
}

input
{
	box-sizing: border-box;
}
