// Global styles.

::selection
{
	background-color: #f9ec67;
}

::placeholder
{
	color: #aea9a9;
}

body,
html
{
	background-color: #f5f0ed;

	color: $dark;
	font-family: $muli;
}

h1
{
	margin-bottom: 32px;

	font-size: 28px;
	line-height: 32px;
}

p
{
	margin-bottom: 24px;

	font-size: 16px;
	line-height: 28px;

	flex-flow: row;
	flex-wrap: wrap;

	&:last-child
	{
		margin-bottom: 0;
	}
}

pre
{
	display: inline-block;
	padding: 10px 15px 10px 15px;
	background-color: #f5f0ed;

	font-size: 14px;
	font-family: Consolas, Courier;
	line-height: 18px;
}

span
{
	display: inline-block;
}

a
{
	color: #4e88d4;

	&:hover
	{
		color: #58beed;
	}

	&:active
	{
		color: #4578ba;
	}

	&:visited
	{
		color: #4e88d4;
	}
}

input
{
	box-sizing: border-box;
}
