section
	h1
		| root.parent-state-2.child-state-1
	p
		| This state is a child state of 
		span.code
			| parent-state-2. It is a dependency listed in the module definition of 
		span.code
			| parentState2
		| located in the file&nbsp;
		span.code
			| parent-state-2_module.js
		| .