section
	h1
		| root.parent-state-2.child-state-1
	p
		| This state is a child state of&nbsp;
		span.code 
			| parent-state-2
		| , and a grandchild of&nbsp;
		span.code
			| root
		| . This state has its own module, called&nbsp;
		span.code
			| childState1
		| and is a dependency listed in the module definition of&nbsp;
		span.code
			| parentState2
		| &nbsp;which can be seen in the file&nbsp;
		a( href='https://github.com/RyanWarner/angular-sprout/blob/master/app/states/root/parent-state-2/parent-state-2_module.js' )
			| parent-state-2_module.js
		| .

	pre
		| app/
		|    states/
		|        root/
		|            state-1/
		|                state-1_controller.js
		|                state-1_module.js
		|                state-1_styles.scss
		|                state-1_template.jade
		|                state-1_test-e2e.js
		|                state-1_test-unit.js
		| 
		span.highted-code
			|           parent-state-2/
			|               child-state-1/
			|                   child-state-1_controler.js
			|                   child-state-1_module.js
			|                   child-state-1_styles.scss
			|                   child-state-1_template.jade
			|                   child-state-1_test-e2e.js
			|                   child-state-1_test-unit.js
		| 
		|               child-state-2
		|                   child-state-2_controler.js
		|                   child-state-2_module.js
		|                   child-state-2_styles.scss
		|                   child-state-2_template.jade
		|                   child-state-2_test-e2e.js
		|                   child-state-2_test-unit.js
		| 
		span.highted-code
			|              parent-state-2_controler.js
			|              parent-state-2_module.js
			|              parent-state-2_styles.scss
			|              parent-state-2_template.jade
			|              parent-state-2_test-e2e.js
			|              parent-state-2_test-unit.js
		| 
		|    common-components/
		|        directives/
		|            dropdown/
		|                dropdown_controller.js
		|                dropdown_directive.js
		|                dropdown_styles.scss
		|                dropdown_template.jade
		|        filters/
		|            reverse_filter.js
		|        services/
		|    common-styles/
		|        _base.scss
		|        _breakpoints.scss
		|        _mixins.scss
		|        _reset.scss
		|        _variables.scss
		|    app_module.js
		|    app_styles.scss
		|    index.jade