doctype html
html(lang='en' )
	head
		base( href='/' )
		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1')
		link( href='http://fonts.googleapis.com/css?family=Muli|Anonymous+Pro:400,400italic', rel='stylesheet', type='text/css' )
		link( rel='icon', type='image/png', href='favicon.png' )
		// inject:css 
		// endinject 
		// inject:bower:js 
		// endinject 
		// inject:js 
		// endinject 
	body( ng-app='angularSprout' )

		//- You could put other ui-views here, like a modal.

		.root-view( ui-view='root' )
