doctype html
html(lang='en' )
	head
		base( href='/' )
		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1')
		// inject:css 
		// endinject 
		// inject:bower:js 
		// endinject 
		// inject:js 
		// endinject 
	body( ng-app='angularSprout' )
		h1
			| Angular Seed

		.root-view( ui-view='root' )
