.left-column
{
	position: fixed;
	width: 236px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $dark;

	color: $light;
}

.content
{
	width: calc( 100% - 236px );
	margin-left: 236px;
}

section
{
	margin: 26px 26px 8px 26px;
	padding: 18px 15px 18px 15px;
	border: 1px solid #dedad7;
	border-left: 4px solid #dedad7;
	background-color: #fcf8f5;

	flex: 1;
}

.child-nav
{
	height: 92px;
	margin-bottom: 20px;

	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.child-nav-item
{
	cursor: pointer;
	height: 48px;
	padding-right: 20px;
	padding-left: 20px;
	border-top: 1px solid #d6d2d0;
	border-right: 1px solid #d6d2d0;
	border-bottom: 1px solid #d6d2d0;
	background-color: #ede9e6;
	box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.04 );

	justify-content: center;
	align-items: center;

	&:first-child
	{
		border-left: 1px solid #d6d2d0;
	}

	&:hover
	{
		background-color: #fcf8f5;
	}

	&.selected
	{
		border: 1px solid $mint;
		background-color: #fcf8f5;
	}
}

.logo
{
	width: inherit;
	height: 62px;
	background-color: $brick;

	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.logo-text
{
	font-size: 18px;
}

.nav-item
{
	cursor: pointer;
	height: 64px;

	font-size: 14px;

	flex-flow: row;
	align-items: center;

	&:before
	{
		content: '';
		display: inline-block;
		width: 8px;
		height: 8px;
		margin-right: 14px;
		margin-left: 14px;
		border: 1px solid #979797;
		border-radius: 5px;

		transition: all 0.2s ease-in;
	}

	&.selected
	{
		color: $mint;
		font-weight: bold;

		&:before
		{
			border: 1px solid #4a4a4a;
			background-color: $mint;
		}
	}

	&:hover
	{
		background-color: lighten( $dark, 5% );
	}
}

.github-button
{
	cursor: pointer;
	width: 137px;
	height: 48px;
	margin-top: 100px;
	background-color: $light;
	box-shadow: 1px 1px 5px 0 rgba( 0, 0, 0, 0.2 );

	color: $dark;
	text-decoration: none;

	transition: all 0.1s ease-in;

	flex-flow: row;
	align-items: center;
	justify-content: center;
	align-self: center;

	&:active,
	&:visited
	{
		color: $dark;
	}

	&:hover
	{
		background-color: lighten( $light, 5% );
	}
}
