.left-column
	.logo
		.logo-text
			| angular-sprout
		.logo-icon
	nav
		li.nav-item( ui-sref='root.state-1', ng-class='{ selected: activeTopNav === "state-1" }' )
			| state-1
		li.nav-item( ui-sref='root.parent-state-2.child-state-1', ng-class='{ selected: activeTopNav === "parent-state-2" }' )
			| parent-state-2
	a.github-button( href='https://github.com/RyanWarner/angular-sprout' )
		.button-icon
		.button-text
			| GitHub

.content( ui-view='content' )