.left-column
	.logo
		.logo-text
			| angular-sprout
		.logo-icon
	nav
		li.nav-item( ui-sref='root.state-1' )
			| state-1
		li.nav-item( ui-sref='root.parent-state-2' )
			| parent-state-2
		li.nav-item( ui-sref='root.grandparent-state-3' )
			| grandparent-state-3
	a.github-button( href='http://github.com/RyanWarner/' )
		.button-text
			| GitHub
		.button-icon

.content( ui-view='content' )