.left-column
	.logo
		.name
			| angular-sprout
		.icon
	nav
		li( ui-sref='' )
			| parent-state-1
		li( ui-sref='' )
			| state-2
		li( ui-sref='' )
			| grandparent-state-3
	.github-button
		.button-text
			| GitHub
		.button-icon

.content( ui-view='content' )